/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/OlaMundoSwing/nbproject/private/
/RelogioSwing/nbproject/private/
/SystemIn/nbproject/private/
/SystemIn/build/
/TesteTipos/nbproject/private/
/TesteTipos/build/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/SomaSwing/dist/
/RelogioSwing/build/
/RelogioSwing/dist/
/OperadoresAritmeticos/nbproject/private/
/OperadoresSwing/nbproject/private/
/OperadoresSwing/build/
/ComparacaoString/nbproject/private/
/ComparacaoString/build/
/OperadoresLogicos/nbproject/private/
/OperadoresLogicos/build/
/VerificadorSwing/nbproject/private/
/VerificadorSwing/build/
/ProgramaMedia/nbproject/private/
/ProgramaMedia/build/
/ProgramaIdade/nbproject/private/
/ProgramaIdade/build/
