/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/OlaMundoSwing/nbproject/private/
/RelogioSwing/nbproject/private/
/SystemIn/nbproject/private/
/SystemIn/build/
/TesteTipos/nbproject/private/
/TesteTipos/build/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/SomaSwing/dist/
/RelogioSwing/build/
/RelogioSwing/dist/
